absl-py==0.1.13
altgraph==0.16.1
astor==0.6.2
backcall==0.1.0
bitarray==0.8.3
bleach==1.5.0
cachetools==3.0.0
cairocffi==0.8.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
coloredlogs==9.3.1
contextlib2==0.5.5
curses-2048==1.4
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
Django==2.0.5
docutils==0.14
entrypoints==0.2.3
facepy==1.0.8
future==0.16.0
gast==0.2.0
get==1.0.2
google-api-python-client==1.7.4
google-auth==1.6.0
google-auth-httplib2==0.0.3
grpcio==1.11.0
html5lib==0.9999999
httplib2==0.11.3
humanfriendly==4.15.1
idna==2.6
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
lshash3==0.0.8
lxml==4.2.4
macholib==1.11
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
nbconvert==6.5.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.5.0
numpy==1.14.2
oauth2==1.9.0.post1
oauthlib==2.1.0
opencv-python==3.4.1.15
pandocfilters==1.4.2
parso==0.2.0
pefile==2018.8.8
pickleshare==0.7.4
Pillow==5.1.0
post==1.0.1
prompt-toolkit==1.0.15
protobuf==3.6.1
public==1.0.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAudio==0.2.11
PyAutoGUI==0.9.38
pycparser==2.18
pydub==0.23.0
pyenchant==1.6.6
pyFirmata2==0.9.9
pygame==1.9.3
Pygments==2.2.0
pyinstaller==3.4
pymongo==3.7.2
PyMouse==1.0
PyMsgBox==1.0.6
pyparsing==2.2.0
pyreadline==2.1
PyScreeze==0.1.18
pyserial==3.4
PySocks==1.6.8
python-dateutil==2.7.3
python-instagram==1.3.2
PyTumblr==0.0.8
PyTweening==1.0.3
pytz==2018.4
PyWavelets==0.5.2
pywin32-ctypes==0.2.0
pywinpty==0.5.1
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
query-string==1.0.1
redis==2.10.6
regex==2018.8.29
request==1.0.1
requests==2.18.4
requests-oauthlib==1.0.0
rsa==4.0
scikit-image==0.13.1
scikit-learn==0.20.0
scipy==1.1.0
selectivesearch==0.4
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.15.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
torch==0.4.1
torchvision==0.2.1
tornado==5.0.2
traitlets==4.3.2
tweepy==3.6.0
twython==3.7.0
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.2.1
xlib==0.21
